/obj
/jos.in
/jos.log
/jos.out
/jos.out.*
/jos.cmd
/.gdbinit
/wget.log
/qemu.pcap
/qemu.pcap.*
/qemu.out
/qemu.log
/gradelib.pyc
/lab*-handin.tar.gz
/lab?/
/sol?/
/myapi.key
/.suf
/.vs/lab/v16/Browse.VC.opendb
/.vs/lab/v16/Browse.VC.db-wal
/.vs/lab/v16/Browse.VC.db-shm
/.vs/lab/v16/ipch/AutoPCH
